.vresize {
   overflow: scroll;
 }


.body-wrapper {
  width: 80%;
  margin: auto auto 20px;
}

.input-group-addon {
  padding: 10px;
}

.form-control {
  overflow: auto;
}

.collapsing_bar {
  width: 100%;
  text-align: left;
}



#returning {
  border: black 1px solid;
  border-top: black 0 solid;
  padding: 10px;
}


#incoming {
  border: black 1px solid;
  border-top: black 0 solid;
  padding: 10px;
}

.checkinout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.checkin {
  padding: 10px;
  border: black 1px solid;
}

.checkout {
  padding: 10px;
  border: black 1px solid;
  border-left: black 0 solid;
}


#daynames {
  background-color: beige;
}

.calendar-grid {
  border: black 1px solid;
  text-align: center;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.col-item {
  background-color: beige;
  border-bottom: 0.75px black solid;
}

.text-small {
  font-size: x-small;
}

.transparent-item {
  background-color: rgba(255, 0, 0, 0.4);
  border: black 1px solid;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  overflow: auto;
}
.col-time {
  grid-column-start: 0;
  border-right: gray 0.75px solid;
}