.vresize {
  overflow: scroll;
}


.body-wrapper {
  width: 80%;
  margin: auto auto 20px;
}

.input-group-addon {
  padding: 10px;
}

.form-control {
  overflow: auto;
}

.collapsing_bar {
  width: 100%;
  text-align: left;
}



#returning {
  border: black 1px solid;
  border-top: black 0 solid;
  padding: 10px;
}


#incoming {
  border: black 1px solid;
  border-top: black 0 solid;
  padding: 10px;
}

.checkinout-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}

.checkin {
  padding: 10px;
  border: black 1px solid;
}

.checkout {
  padding: 10px;
  border: black 1px solid;
  border-left: black 0 solid;
}

.calendar-grid {
  border: black 1px solid;
  text-align: center;
  margin-bottom: 10px;
}

#daynames {
  background-color: beige;
}

.cal_row {
  font-size: x-small;
}