<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Patient Scoot</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

  </head>

  <body>
    <div class="body-wrapper">
      <h1>Patient Scoot</h1>

      <!-- Calendar. -->
      <div class="calendar-wrapper">
        <div class="calendar-grid">
            <div class="col-item"></div>
            <div class="col-item">Sunday</div>
            <div class="col-item">Monday</div>
            <div class="col-item">Tuesday</div>
            <div class="col-item">Wednesday</div>
            <div class="col-item">Thursday</div>
            <div class="col-item">Friday</div>
            <div class="col-item">Saturday</div>
          {% for i in increments %}
            <div class="col-time text-small" style="grid-row-start: {{loop.index+1}};">{{i}}</div>
          {% endfor %}

          <div class="col-sm transparent-item" style="grid-row-start: 5; grid-row-end: 9; grid-column-start: 3;">1</div>
          <div class="col-sm transparent-item" style="grid-row-start: 8; grid-row-end: 12; grid-column-start: 3;">2</div>
        </div>
      </div>


      <!-- Checking in and out. -->
      <div class="checkinout-wrapper">
        <!-- Check in. -->
        <div class="checkin-wrapper">
          <h2>Check in</h2>
          <div class="checkin">
            <form action="./checkin" method="post">
              <div class="input-group">
                <span class="input-group-addon">ID</span>
                <input type="text" class="form-control" name="username">
              </div>

              <div class="input-group">
                <span class="input-group-addon">Time</span>
                <input type="time" class="form-control" name="time" placeholder="H:M"><a href="" class="input-group-addon" id="nowtime">Now</a>
              </div>

              <button type="submit" class="btn btn-light">Submit</button>
            </form>
          </div>
        </div>

        <!-- Check out. -->
        <div class="checkout-wrapper">
          <h2>Check out</h2>
          <div class="checkout">
            <form action="./checkout" method="post">
              <div class="input-group">
                <span class="input-group-addon">ID</span>
                <input type="text" class="form-control" name="username">
              </div>

              <div class="input-group">
                <span class="input-group-addon">Time</span>
                <input type="time" class="form-control" name="time" placeholder="H:M"><a href="" class="input-group-addon" id="nowtime">Now</a>
              </div>

              <button type="submit" class="btn btn-light">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <h2>Make an appointment</h2>
      <button data-toggle="collapse" data-target="#returning" class="collapsing_bar">Returning user</button>
      <div class="collapse" id="returning">
        <form action = "./returning" method = "POST">

          <div class="input-group">
            <span class="input-group-addon">Week</span>
            <input type="date" class="form-control" name="week" placeholder="Numerical">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Day</span>
            <select class="form-control" name="day">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
            </select>
          </div>

          <div class="input-group">
            <span class="input-group-addon">ID</span>
            <input type="text" class="form-control" name="id" placeholder="Numerical">
          </div>

          <button type="submit" class="btn btn-light">Submit</button>
        </form>
      </div>

      <button data-toggle="collapse" data-target="#incoming" class="collapsing_bar">Incoming user</button>
      <div class="collapse" id="incoming">
        <form action = "./incoming" method = "POST">

          <div class="input-group">
            <span class="input-group-addon">Week</span>
            <input type="date" class="form-control" name="week" placeholder="Numerical">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Day</span>
            <select class="form-control" name="day">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
            </select>
          </div>

          <button type="submit" class="btn btn-light">Submit</button>
        </form>
      </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
